:root {
    --primary-color-magenta: hsl(300, 43%, 22%);
    --primary-color-pink: hsl(333, 80%, 67%);
    --text-color-dark-gray: hsl(303, 10%, 53%);
    --text-color-light-gray: hsl(300, 24%, 96%);
    --bg-color-white: hsl(0, 0%, 100%);
    --star-color: #ffa500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'League Spartan', sans-serif;
}

.wrapper {
    max-width: 1300px;
    margin: auto;
    position: relative;
}

.inner-wrapper {
    max-width: 100%;
    margin: 60px auto;
    padding: 80px 60px;
}

.bg-pattern-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bg-pattern-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.row-1 {
    display: flex;
    margin-bottom: 60px;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.head-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary-color-magenta);
    margin-bottom: 20px;
}

.head-content p {
    font-size: 1.125rem;
    color: var(--text-color-dark-gray);
    font-weight: 500;
}

.rating {
    margin-top: 20px;
    margin-left: 90px;
}

.rate {
    width: 420px;
    background-color: var(--text-color-light-gray);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.rate:nth-child(2) {
    margin-top: 20px;
    margin-left: 40px;
}

.rate:nth-child(3) {
    margin-top: 20px;
    margin-left: 80px;
}

.rate p {
    color: var(--primary-color-magenta);
    font-size: 1.125rem;
    font-weight: bold;
}

.row-2 {
    display: flex;
    justify-content: space-between;
}

.col-3 {
    flex: 1;
    background-color: var(--primary-color-magenta);
    border-radius: 10px;
    color: var(--text-color-light-gray);
    padding: 40px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 220px;
    margin-right: 30px;
}

.col-3:nth-child(2) {
    margin-top: 15px;
}

.col-3:nth-child(3) {
    margin-top: 30px;
    margin-right: 0;
}

.customer {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.customer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.customer-status {
    color: var(--primary-color-pink);
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
}

.customer-review {
    line-height: 20px;
}


/*@media screen and (max-width: 480px) {
    .inner-wrapper {
        padding: 40px 20px;
    }

    .row-1 {
        flex-direction: column;
    }

    .col-2 {
        flex-basis: 100%;
    }

    .head-content h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .head-content p {
        text-align: center;
    }

    .rating {
        margin-left: 0;
    }

    .rate {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .rate:nth-child(2),
    .rate:nth-child(3) {
        margin-left: 0;
    }

} */